<link
  rel="stylesheet"
  href="{{ "/assets/css/sidebar.css" | relative_url }}"
  media="screen and (min-width: 58em)"
>

<aside class="sidebar">

  <div class="sidebar-inner">

    <div class="sidebar-brand">
      <a href="{{ "/" | relative_url }}">
        {{ site.title }}
      </a>
    </div>

    <nav class="sidebar-nav">

      {% assign keys = 'navigation,external,footer' | split: ',' %}

      {% for key in keys %}
        {% if site[key] %}
        <div class="sidebar-group">

          {% for item in site[key] %}

            {% assign node = site.pages | where: "name", item.file | first %}
            {% assign url = item.url | default: node.url %}
            {% assign title = item.title | default: node.title %}
            {% assign icon = item.icon | default: item.sidebaricon %}

            <a
              href="{{ url | relative_url }}"
              class="sidebar-link {% if url == page.url %}selected{% endif %}"
              {% if key == "external" %}target="_blank" rel="noopener noreferrer"{% endif %}
            >

              {% if icon %}
              <svg aria-hidden="true" class="sidebar-icon" width="1em" height="1em">
                <use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use>
              </svg>
              {% endif %}

              <span>{{ title }}</span>

            </a>

          {% endfor %}

        </div>
        {% endif %}
      {% endfor %}

    </nav>

    <footer class="sidebar-footer">
      {{ site.description }}
    </footer>

  </div>

</aside>


